@charset "UTF-8";
/*Estilos para impressora*/
*{
    margin: 10px;
    padding: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
menu{
    display: none;
}
article::after{
    content: 'Esse artigo foi escrito no dia 09/01/2023 por Érick da Silva Lima';
}